[submodule "Neuron Tracking"]
	path = turnover_dynamics/neuron_tracking
	url = https://gitlab.gwdg.de/alexander.schmidt/neuron-tracking
[submodule "Place Selectivity Inference"]
	path = turnover_dynamics/place_selectivity_inference
	url = https://gitlab.gwdg.de/alexander.schmidt/place-selectivity-inference
[submodule "Neuron Detection CaImAn"]
	path = turnover_dynamics/neuron_detection_caiman
	url = https://gitlab.gwdg.de/alexander.schmidt/neuron-detection-caiman
[submodule "Orientation Selectivity Inference"]
	path = turnover_dynamics/orientation_selectivity_inference
	url = https://gitlab.gwdg.de/alexander.schmidt/orientation-selectivity-inference
