[submodule "neuron_matching"]
	path = placcefield_dynamics/neuron_matching
	url = https://github.com/woxxel/neuron_matching.git
[submodule "placefield_detection"]
	path = placefield_dynamics/placefield_detection
	url = https://github.com/woxxel/placefield_detection.git
[submodule "neuron_detection"]
	path = placefield_dynamics/neuron_detection
	url = https://github.com/woxxel/neuron_detection
